# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Objectives

**Listed below are some of the key takeaways from this notebook:**

- Listed popular languages for Data Science.
- Discussed commonly used libraries for Data Science.
- Provided an overview of popular tools in the Data Science ecosystem.
- Demonstrated how to evaluate arithmetic expressions using Python.
- Showed an example of converting minutes to hours using Python.

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

## Data Science Tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook    |
| Apache Spark        |
| RStudio             |

## Arithmetic Expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
a = 5
b = 3
c = a + b
print(c)  # Output: 8

8

In [2]:
a = 5
b = 3
c = a - b
print(c)  # Output: 2

2

In [3]:
a = 5
b = 3
c = a * b
print(c)  # Output: 15

15

In [4]:
a = 10
b = 2
c = a / b
print(c)  # Output: 5.0

5.0

In [5]:
a = 10
b = 3
c = a % b
print(c)  # Output: 1

1

In [6]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4)+5
print(result)  # Output: 17

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)  # Output: 3.3333333333333335

3.3333333333333335

## Author

Faisal Alamri